# High/Low spender

### Contents
- Crosstab of spending flag and regions
- Exclusion flag for low activity customers
- New df for most active customers created

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r"C:\Users\Kieran\Documents\Career Foundry\Data Immersion\4.0 Python\Instacart Basket Analysis"

In [3]:
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.10 inc region.pkl'))

#### Q3 Determine whether thereâ€™s a difference in spending habits between the different U.S. regions.

In [4]:
df.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_the_week',
       'order_hour_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'product_name', 'aisle_id', 'department_id',
       'prices', 'price_range_loc', 'busiest day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean_spend',
       'spend_flag', 'order_freq', 'order_freq_flag', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'fam_status', 'income', 'region'],
      dtype='object')

In [5]:
crosstab = pd.crosstab(df['spend_flag'], df['region'])

In [6]:
crosstab

region        Midwest  Northeast     South     West
spend_flag
High spender   140195      98231    187214   142003
Low spender   7457130    5624503  10604671  8150910

#### Q4 Creat exclusion flag for customers with less than 5 orders, and exclude them from data

In [7]:
# creating flag for low activity
df.loc[df['order_number'] < 5, 'activity_flag'] = 'low-activity'

In [9]:
# creating flag for regular activity
df.loc[df['order_number'] >= 5, 'activity_flag'] = 'regular_activity'

In [11]:
df['activity_flag'].value_counts(dropna=False)

regular_activity    24414876
low-activity         7989981
Name: activity_flag, dtype: int64

#### New df excluding low activity customers

In [13]:
df_active = df[df['activity_flag'] == 'regular_activity']

In [14]:
df_active.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24414876 entries, 4 to 32404854
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_the_week  uint16
 4   order_hour_of_day       uint16
 5   days_since_last_order   float64
 6   product_id              int64
 7   add_to_cart_order       int16
 8   product_name            category
 9   aisle_id                int16
 10  department_id           uint16
 11  prices                  int32
 12  price_range_loc         category
 13  busiest day             category
 14  busiest_days            category
 15  busiest_period_of_day   category
 16  max_order               int16
 17  loyalty_flag            category
 18  mean_spend              float16
 19  spend_flag              category
 20  order_freq              uint16
 21  order_freq_flag         object
 22  gender                  object
 23  state                   object
 24  age                     int64
 25  date_joined             object
 26  n_dependants            int64
 27  fam_status              category
 28  income                  int64
 29  region                  category
 30  activity_flag           object
dtypes: category(9), float16(1), float64(1), int16(3), int32(1), int64(7), object(5), uint16(4)
memory usage: 3.3+ GB

In [16]:
df_active['activity_flag'].value_counts(dropna=False)

regular_activity    24414876
Name: activity_flag, dtype: int64

#### Exporting df_active

In [17]:
df_active.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Active Cust only.pkl'))